/* Fix user-agent */

* {
  box-sizing: border-box;
}

html, input {
  font-family:
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat Page */

.chat {
  max-width: 600px;
  display: none;
  margin: 10px;
}

.chat input {
  margin: 0;
  padding: 0;
}

.chat-messages,
.chat input {
  border: 1px solid #bbb;
}

.chat-messages {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  padding: 10px;
  font-size: 13px;
}

.chat input {
  width: 100%;
  padding: 10px;
  height: 50px;
  margin: 0;
  border-top: 0;
  max-width: 100%;
}

.chat-status {
  font-size: 13px;
  color: #bbb;
}

.typing {
  margin: 0;
  padding: 2px;
  color: #1d1;
  font-size: 10px;
}

.chat input {
  outline: none;
}

.chat-message-left {
  padding: 3px;
  background: #eee;
  width: 60%;
  margin-bottom: 5px;
}

.chat-message-right {
  float: right;
  padding: 3px;
  background: #dee;
  width: 60%;
  margin-bottom: 5px;
}

.messageBody {
  display: block;
  font-size: 1.1em;
}

.timing {
  float: right;
  text-align: right;
  padding-right: 5px;
  color: #1d1;
}

.clearfix {
  clear: both;
}